@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: GmarketSans; /* 기본 폰트 설정 */
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Your custom styles go below */
/* 여기에 사용자 정의 스타일을 추가하세요 */
/* Add your custom styles below */

/* 예시: 헤더 스타일 */
header {
    text-align: center;
}

/* 예시: 메인 내용 스타일 */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


a:hover {
    text-decoration: underline;
}
